In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/kaggle/input/titanic-cleaned-data/train_clean.csv")
df

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,Family_Size
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,Mr,1
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,Mrs,1
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,Miss,0
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,Mrs,1
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,Mr,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536,Rev,0
887,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053,Miss,0
888,22.0,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607,Miss,3
889,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369,Mr,0
890,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376,Mr,0

In [3]:
df.drop(['PassengerId','Family_Size','Pclass','Title', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'] , axis = 'columns', inplace = True)

In [4]:
df

      Age     Fare     Sex  Survived
0    22.0   7.2500    male       0.0
1    38.0  71.2833  female       1.0
2    26.0   7.9250  female       1.0
3    35.0  53.1000  female       1.0
4    35.0   8.0500    male       0.0
..    ...      ...     ...       ...
886  27.0  13.0000    male       0.0
887  19.0  30.0000  female       1.0
888  22.0  23.4500  female       0.0
889  26.0  30.0000    male       1.0
890  32.0   7.7500    male       0.0

[891 rows x 4 columns]

In [5]:
target = df.Survived
inputs = df.drop('Survived', axis = 'columns')

In [6]:
df_encoded = pd.get_dummies(df, columns=['Sex'])

In [7]:
inputs = pd.concat([inputs , df_encoded],axis = 'columns')

In [8]:
inputs.drop('Sex', axis = 'columns', inplace = True)

In [9]:
inputs.columns[inputs.isna().any()]
inputs

      Age     Fare   Age     Fare  Survived  Sex_female  Sex_male
0    22.0   7.2500  22.0   7.2500       0.0       False      True
1    38.0  71.2833  38.0  71.2833       1.0        True     False
2    26.0   7.9250  26.0   7.9250       1.0        True     False
3    35.0  53.1000  35.0  53.1000       1.0        True     False
4    35.0   8.0500  35.0   8.0500       0.0       False      True
..    ...      ...   ...      ...       ...         ...       ...
886  27.0  13.0000  27.0  13.0000       0.0       False      True
887  19.0  30.0000  19.0  30.0000       1.0        True     False
888  22.0  23.4500  22.0  23.4500       0.0        True     False
889  26.0  30.0000  26.0  30.0000       1.0       False      True
890  32.0   7.7500  32.0   7.7500       0.0       False      True

[891 rows x 7 columns]

In [10]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train , y_test = train_test_split(inputs , target, test_size = 0.2)

In [11]:
len(x_train)

712

In [12]:
#Gaussian Naive bayes
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [13]:
model.fit(x_train, y_train)

GaussianNB()

In [14]:
model.score(x_test , y_test)

1.0

In [15]:
model.predict(x_test[:10])

array([1., 0., 0., 1., 0., 0., 1., 1., 0., 1.])